.register__client__form__field {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.register__client__form__field span {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 400;
  transform: translate(48px, -1px);
  pointer-events: none;
  transition: all ease 0.2s;
  background-color: #cfcfcf;
  color: #444444;
}

.register__client__form__field__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: black;
}

.register__client__form__field input {
  height: 40px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 2px;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #919191;
  outline: none;
}

input:focus ~ span,
input:valid ~ span {
  font-size: 1rem;
  transform: translate(48px, -30px);
}
